<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hello brother!</h1>
  <h2>hi from the world</h2>
  {{ lst }}
  <h2>{{ lst | join:" - " }} </h2>
  <h2>{{ lst | join:" // " }} </h2>
  <h2> {{ lstt | add:"[4, 5, 6]" }} </h2>
  <h2>{{ seaum | capfirst }}</h2>
  <h2>{{ lst | cut:" " }}</h2>
  <h2>{{ lst | last }}</h2>
  <h2>{{ lstt | length }}</h2>
  <h3>{{ lst | linenumbers }}</h3>
  <h2>{{ lst | upper }}</h2>
  <h3>{{ birthday | time:"H:i" }}</h3>
</body>

</html>
